@media only screen and (max-width: 900px) {
  #root, .mobilehide {
    display: none;
  }
  #doge{
    display: block!important;
  }
}

@media only screen and (max-height: 500px) {
  #root, .mobilehide {
    display: none;
  }
  #doge{
    display: block!important;
  }
}

#doge{
  display: none;
  height: 100vh;
}

.doge_height{
  height: 100vh;
}

.doge_img{
  margin-top: 40px;
  width: 60%;
  height: 100%;
}

.wow_text{
  font-size: 5vw;
  font-weight: 600;
  text-align: center;
}

.telegram_button_to_bot{
  z-index: 2;
  width:100%;
  display: flex;
  justify-content: center;
}

.or_use{
  margin: 0 0 30px 0;
}

.telegram_button_to_bot a{
  height: 100%;
  font-size: 3vw;
  font-weight: bold;
  line-height: 100%;
  color: #FFF;
  background: #5dc390;
  border-radius: 22px;
  overflow: hidden;
  display: inline-block;
  padding: 15px 27px 13px;
  text-transform: uppercase;
}

.telegram_button_to_bot a:hover{
  background: #3b7d5c;
  text-decoration: none;
}

