.little{
  width: 100px;
  height: 100px;
}

.flex_row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex_row500{
  width: 500px;
}

.fullsize{
  display: flex;
  justify-content: center;
  width:100%!important;
}

.holiday {
  overflow: hidden;
  font-size: 16px;
  min-width: 354px;
  text-align: center;
  margin-top: 40px;
}
.holiday dt, .holiday dd {
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 0.625em 0 0.875em;
  color: #4C565C;
  box-sizing: border-box;
}
dt {
  width: 30%;
  float: left;
  clear: right;
  background: #D3E6DD;
  font-weight: bold;
}
dd {
  width: 70%;
  float: right;
  margin-left: 0;
  margin-bottom: .3125em;
  border: 1px solid #BECFC7;
  border-left: none;
}

.width700{
  width: 600px!important;
    }