.trans-float-left{
  float:left;
}

.trans-float-right{
  float:right;
}

.trans-no-top-margin{
  margin-top:0;
}

.trans-center-text{
  text-align: center;
}

.trans-container{
  margin-top: 80px;
}

.trans-margintop50{
  margin-top: 50px;
}