.user_img{
  border-radius: 50%;
  width: 300px;
}

.user_img2{
  border-radius: 50%;
  width: 300px;
  height: 320px;
}

.container{
  flex-wrap: wrap;
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.username{
  text-align: center;
  width: 100%;
}

.width100{
  width:100%;
}
