.hide_expand_column{
  td.ant-table-row-expand-icon-cell,
  th.ant-table-expand-icon-th{
    display: none!important;
  }
}

.word_title{
  text-align: center;
  margin: 30px 0 30px 0;
}

.heigth90{
  height: 90vh;
}

.marginbuttons{
  margin: 0px 0 30px 0;
}

.marginright20{
  margin-right: 20px;
}